#root {
  margin: 0 auto;
  padding: 2rem;
}
.app {
  border: 2px solid rgba(83, 91, 242, 0.7);
  border-radius: 8px;
  padding: 15px;
  width: 1000px;
  flex-grow: 1; 
}
h1 {
  text-align: center;
}
.app input {
  background-color: transparent;
  border: 2px solid rgba(83, 91, 242, 0.7);
  border-radius: 6px;
  padding: 14px 16px;
}
.app .icon svg {
  animation: rotate360 6.5s linear infinite;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app .search {
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgba(83, 91, 242, 0.3);
}
.app .search > div {
  position: relative;
}
.search .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: yellow;
}
.app .show {
  height: 47.5px;
  background-color: transparent;
  border: 2px solid rgba(83, 91, 242, 0.7);
}
.app input::placeholder {
  color: white;
  opacity: .6;
}
.app .results {
  border-bottom: 1px solid rgba(83, 91, 242, 0.3);
  padding-bottom: 35px;
}
.app .results .icon {
  text-align: center;
}
.results h1 {
  font-weight: bolder;
  text-align: center;
}
.app .results .current-temperature,
.weather-condition {
  color: white;
  font-size: 28px;
  text-align: center;
}
.app .results span {
  font-size: 45px;
  color: yellow;
}
.app .forecast {
  display: flex;
  padding-top: 15px;
}
.app .forecast div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  text-align: center;
  width: 140px;
  border-right: 1px solid rgba(83, 91, 242, 0.4);
}
.app .forecast div:last-child {
  border: none;
}
.cities {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
}